    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        background: linear-gradient(to bottom, #000000 35%, #003366 100%);
        color: bisque;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }
      
  
  
  img {
    position: absolute;
    top: 0;
    left: 0;
    animation: horizontalRotation 4s linear infinite;
    width: 200px;
  }
  
  @keyframes horizontalRotation {
    0% {
      transform: scaleX(1);
    }
    100% {
      transform: scaleX(-1);
    }
  }

.header h2{
  text-align: center;
  align-items: center;
  justify-content: center;
}

.navbar {
  background-color: black;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  align-items: center;
}

.right {
  margin-left: 15px;
}

.design {
  border: none;
  outline: none;
  background-color: rgb(97, 201, 201);
  border-radius: 15px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
  font-size: larger;
  cursor: pointer;
}

.datasection {
  margin-top: 190px; 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; 
}

table, th, td {
  border: 1px solid #fff; 
}

th, td {
  padding: 10px;
  text-align: center;
}
